homework/homework_6th_2018_07_26/com/buturlia/hm6/validator.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ShapeParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string"/>
                <xs:element name="Origin" type="xs:string"/>
                <xs:element name="Price" type="xs:int"/>
                <xs:element name="Type" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>